@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Staatliches&display=swap');
h2{
    color: #3C79B2;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 4em;
}
.container{
    padding-top: 5em;
    padding-bottom: 2em;
}
.card{
    box-shadow: 2px 2px 12px #224363;
    border-radius: 12px;
    overflow: hidden;
    animation: slideDown 0.5s ease-out;
    opacity: 0; /* Inicialmente invisibles */
}
.especificacion-mascota p{
    color: rgb(149, 152, 152);
    padding: 0;
    margin: 0;
}
.especificacion-mascota span{
   font-weight: bold;
}
.card-titulo{
    font-size: 1.5em;
    padding-left: 0.3em;
}
.elegir-mascota{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-height: 3em;
    background-color: #03A9F4;
    border-color: #03A9F4;
}
.card img{
    transition: transform 0.3s ease;
}
.card img:hover{
    transform: scale(1.1);
}
.mis-mascotas{
    color: #222222;
    font-size: 1em;
}
.indicacion-mascota{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 22px;
}
#lista-mascota {
    margin-top: 1em;
    padding-top: 1em; 
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 2px 8px #224363;
}
#lista-empleado {
    margin-top: 1em;
    padding-top: 1em; 
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 2px 8px #224363;
}
.formato-contenedor{
    margin-top: 1em;
    padding-top: 1em; 
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 2px 8px #224363;
}
/*animaciones */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-loaded {
    opacity: 1;
}
.div-respuesta{
    padding-top: 2em;
}
.contenedor-respuesta{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contenedor-cita{
    border-radius: 15px;
    background-color: #ebebeb;
}
.btn-boton-cita{
    width: 2.5em;
    height: 2.5em;
    border: solid;
    color: #27272c;
    font-weight: 800;
    border-color: #224363;
    border-radius: 50%;
    background-color: white;
}
.header-wrap{
    width: 50%;
}
.btn-atras{
    background-color: white;
}
.btn-atras,.btn-siguiente{
    font-weight: 600;
    margin-left: 1em;
}
.btn-atras:hover{
    background-color: rgb(194, 195, 195);
}
.btn-siguiente{
    color: white;
    background-color: #27272c;
}
.btn-siguiente:hover{
    color: white;
    background-color: #000000;
}
.alertaMascota{
    font-weight: bold;
    padding-bottom: 1em;
}
.btn-boton-cita-estado{
    background-color: #27272c;
    color: white;
    border-color: black;
    transition: background-color 0.3s ease;
}
.btn-boton-cita-estado:hover{
    background-color: #3f3f45;
}

.btn-boton-cita-realizado{
    background-color: #224363;
    color: white;
    transition: background-color 0.3s ease;
}
.btn-boton-cita-realizado:hover{
    background-color: #2f5c89;
}

.img-especialista{
    width: 80% !important; 
}
.img-especialitas-seleccionado{
    width:  3em;
    height: 3em;
}
.deletEspecialista{
    text-decoration: none; /* Quita el subrayado */
}
.img-especialita-turno{
    width: 70%;
}
.bordear-derecha{
    border-right: solid gray;
}
.card-turno{
    cursor: pointer;
}
.card-turno:hover{
    background-color: #3f3f45;
    color: white;
}
input[type="radio"].form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hace el input redondo */
    border: 2px solid #6c757d; /* Color del borde */
    appearance: none; /* Remueve el estilo por defecto del navegador */
    outline: none; /* Remueve el borde azul al hacer clic */
  }

  input[type="radio"].form-check-input:checked {
    background-color: #0d6efd; /* Color de fondo cuando está seleccionado */
    border-color: #0d6efd; /* Borde del color principal */
  }
