.card-style{
    box-shadow: 0px 0px 4px #252b3b;
    overflow: hidden;
}
.btn-op-1{
    background-color: #ff6445;
    border-color: #ff4f2b;
    color: white;
    font-weight: 600;
    margin-top: 1em;
    animation: pulse 1s infinite;
}
.btn-op-1:hover{
    background-color: #222222;
    border-color: #222222;
    color: white;
}
.img-card{
    transition: transform 0.3s ease;
}
.img-card:hover{
    transform: scale(1.2);
}
.especialidad{
    
}

/*Carrusel-servicios*/
.wrapper {
    width: 100%;
    max-width: 1215px;
    position: relative; /* Permite que los elementos hijos se posicionen en relación a este contenedor */
    transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0; /* Comienza invisible */
    animation: slideInRight 1s forwards; /* Llama a la animación */
}

.carousel {
    overflow: auto; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Efecto suave al desplazarse */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.carousel::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome */
}

.btn-prev, .btn-next {
    display: flex;
    justify-content: center;
    align-items: center; /* Alineación correcta en el centro */
    background-color: #ff4f2b;
    color: white;
    font-size: 2.5em;
    border: none;
    padding: 10px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    box-shadow: 0px 0px 4px #252b3b;
    transform: translateY(-50%); 
    z-index: 10; 
    animation: pulse 1s infinite;
}

.btn-prev {
    left: -70px; 
}

.btn-next {
    right: -70px; /* Ajusta la distancia desde el borde derecho */
}
.btn-prev:hover, .btn-next:hover{
    background-color: #e03e24;
}
.content{
    display: grid;
    grid-gap: 16px; /* Espacio entre los elementos */
    grid-auto-flow: column; /* Permite el flujo automático en columnas */
    margin: auto;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    padding: 0.5em 0.5em;
}

/*Animaciones */

@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(1); /* Estado inicial */
    }
    50% {
        transform: translateY(-50%) scale(1.1); /* Estado "palpitante" */
    }
    100% {
        transform: translateY(-50%) scale(1); /* Volver al estado inicial */
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(-100%); /* Comienza desde la izquierda */
        opacity: 0; /* Comienza invisible */
    }
    100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Se hace completamente visible */
    }
}

/*Navegacion*/

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

/*sub menu carrito*/
header{
    background-color: #3C79B2;
}
.submenu {
    position: relative;
}

.submenu #servicios {
    display: none;
}
.submenu:hover #servicios {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for visual effect */
}
.submenu i{
    padding: 0.5em 0em;
    font-size: 2em;
    color: white;
    transition: color 0.3s ease;
}
.submenu i:hover{
    color: #222222;
}
  /* Forms */
  input {
    line-height: normal;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
.u-pull-right {
    float: right; 
}
  
  /* Tables
     ========================================================================== */
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 1em;
  }

  .vaciar-tabla,.generar-cita{
    text-align: center;
    max-width: 12em;
    min-width: 11em;
    text-decoration: none;
    padding: 0.8em;
    background-color: #252b3b;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #222222;
  }
  .vaciar-tabla{
    background-color: #6C757D;
    border-color: #6C757D;
  }
  .generar-cita{
    background-color: #38B2AC;
    border-color: #38B2AC;
  }
  .vaciar-tabla:hover{
    color: white;
    background-color: #535a60;
    border-color: #535a60;
  }
  .generar-cita:hover{
    color: white;
    background-color: #287e79;
    border-color: #287e79;
  }


